@model WC.Data.MySetting
@{
    var db = new WC.Data.CyberEntities();
}

<script type="text/javascript">
    $(document).on('click', '.visible-type', function () {
        var current = $("#current-visible-type");
        var changedType = $(this).data("visible-type");
        var changedName = $(this).data("visible-name");

        var newContent = "<span class = 'fa fa-"+ changedType +"'></span> " + changedName + " <span class='caret'></span>";

        current.attr("data-visible-type", changedType);
        current.html(newContent);

        var url = '@Url.Action("ChangeMyDefaultPostVisibility", "Post")';

        $.post(url, { "visibility": changedType },
            function (data) {
                if (data === "Failed") {
                    alert("Unable to peform your action. Please try again later.");
                } else if (data === "Delete") {
                    alert("Please log in first");
                }
            });
    });
</script>

<div class="dropdown pull-right space">
    <button type="button" id="current-visible-type" data-visible-type="@Model.DefaultMyPostVisibility" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-@Model.DefaultMyPostVisibility"></span> @Model.Visible_Type.VisibleTypeName <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-visibility remove-content pull-left">
        @foreach (var type in db.Visible_Type)
        {
            <li><a class="visible-type" data-visible-type="@type.VisibleTypeID" data-visible-name="@type.VisibleTypeName"><span class="fa fa-@type.VisibleTypeID"></span> @type.VisibleTypeName</a></li>
        }
    </ul>
</div>
