@using Microsoft.AspNet.Identity
@using WC.Utils
<style type="text/css">
    a.none-hover{
        padding: 0 !important;
    } 
    a.none-hover:hover {
        background-color: transparent !important;
    }
</style>
@model List<WC.Hubs.ChatHubModel>
@{ 
    var currentUserId = User.Identity.GetUserId();
}
@foreach (var p in Model)
{
    if (p.UserId == currentUserId)
    {
        <div class="chat-item chat-item-right">
            <div class="chat-message" title="@Helper.PostTime(p.SentTime)">
                @p.Message
            </div>
        </div>
    }
    else
    {
        <div class="chat-item chat-item-left">
            <div class="chat-image">
                <a class="none-hover" href="@Url.Action(p.UserName, "Profile")"><img src="@Url.Content(p.ProfileImgUrl)"></a>
            </div>
            <div class="chat-message" title="@Helper.PostTime(p.SentTime)">
                @p.Message
            </div>
        </div>
    }
}


