@using Microsoft.AspNet.Identity
@using WC.Utils
@model List<WC.Hubs.ChatHubModel>
@{ 
    var currentUserId = User.Identity.GetUserId();
}
@foreach (var p in Model)
{
    if (p.UserId == currentUserId)
    {
        <div class="chat-item chat-item-right">
            <div class="chat-message" title="@Helper.PostTime(p.SentTime)">
                @p.Message
            </div>
        </div>
    }
    else
    {
        <div class="chat-item chat-item-left">
            <div class="chat-image">
                <a href="@Url.Action(p.UserName, "profile")" class="chat-avatar"><img src="@Url.Content(p.ProfileImgUrl)"></a>
            </div>
            <div class="chat-message" title="@Helper.PostTime(p.SentTime)">
                @p.Message
            </div>
        </div>
    }
}


