@model WC.Models.LoginViewModel

@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="row">
    <div class="col-md-3 center">
        <div class="login-box">
            <span class="logo-name text-lg text-center">Cyber</span>
            <p class="text-center m-t-md">Please login into your account.</p>
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "m-t-md", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "Username", required = ""})
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password", required = ""})
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = ""})
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <button type="submit" id="btnLogIn" class="btn btn-success btn-block">Login</button>
                <a href="@Url.Action("Forgot", "Account")" class="display-block text-center m-t-md text-sm">Forgot Password?</a>
                <p class="text-center m-t-xs text-sm">Do not have an account?</p>
                <a href="@Url.Action("Register", "Account")" class="btn btn-default btn-block m-t-md">Create an account</a>
            }
            <p class="text-center m-t-xs text-sm">2015 © Cyber team.</p>
        </div>
    </div>
</div>