@model List<WC.Models.FriendViewModel>

@foreach (var p in Model)
{
    <a href="javascript:void(0);" data-item-id="@p.FriendId" data-item-name="@p.Name" 
       onclick="OpenSmallChatBox(this,'@Url.Action("GetHtmlListChatItemOf")');" class="showRight2">
        <img src="@Url.Content(p.ProfileImgUrl)">
        <span>
            @p.Name
            <small></small>
        </span>
    </a>  
}
