@using Microsoft.AspNet.Identity
@model List<WC.Data.Post>

@foreach (var item in Model)
{
    var alreadyLike = item.PostLikes.Any(x => x.UserID == User.Identity.GetUserId())
        ? "Unlike"
        : "Like";
        
    <li class="timeline-item">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="timeline-item-header">
                    <img src="~/Content/Images/avatar5.png" alt="">
                    <p>@item.User.FirstName @item.User.LastName</p>
                    <small>@item.PostedDate</small>
                </div>
                <div class="timeline-item-post">
                    <p>@item.PostContent</p>
                    <div class="timeline-options">
                        <a class="post-like" post-id="@item.PostID" data-toogle="@alreadyLike">
                            <i class="icon-like"></i> 
                            <span id="post-like-status-@item.PostID">@alreadyLike</span> (<span id="post-like-count-@item.PostID">@item.PostLikes.Count</span>)
                        </a>
                        <a href="#"><i class="icon-bubble"></i> Comment (<span id="comment-count-@item.PostID">@item.Comments.Count</span>)</a>
                    </div>
                    <div id="comment-list-@item.PostID">
                        @if (item.Comments.Count > 0)
                        {
                            var comments = item.Comments.OrderBy(x => x.CommentedDate);
                            //Html.RenderAction("CommentList", "Home", new { Model = item.Comments as List<WC.Data.Comment> });
                            foreach (var comment in comments)
                            {
                                <div class="timeline-comment">
                                    <div class="timeline-comment-header">
                                        <img src="~/Content/Images/avatar2.png" alt="">
                                        <p>@comment.User.FirstName @comment.User.LastName <small>@comment.CommentedDate</small></p>
                                    </div>
                                    <p class="timeline-comment-text">@comment.CommentContent</p>
                                </div>
                            }
                        }
                    </div>
                    <textarea class="form-control comment-form" post-id="@item.PostID" placeholder="Write a comment..."></textarea>
                </div>
            </div>
        </div>
    </li>
}

