@using WC.Data
@model WC.Models.ProfileViewModel
@{
    ViewBag.Title = Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new CyberEntities();
}

<script type="text/javascript">
    function PostStatus() {
        var url = '@Url.Action("PostStatus", "Post")';
        var text = $("#status-content").val();
        var visibility = $("#current-visible-type").data("visible-type");
        if (text === "") return;

        $.post(url, { "postedOn": '@Model.Id', "visibility": visibility, "content": text },
            function (data) {
                if (data === "Failed") {
                    alert("Unable to post your status. Please try again later. Thank you!");
                } else {
                    $("#timeline-posts").prepend(data);
                    $("#status-content").val('');
                }
            });
    }
</script>
<link href="~/Content/Style/loading.css" rel="stylesheet" type="text/css">

<input type="hidden" id="hidden-user-id" value="@Model.Id"/>

<div class="page-inner" style="min-height: 1080px !important">
    <div class="profile-cover">
        <div class="row">
            <div class="col-md-4 profile-image">
                <div class="profile-image-container">
                    <img src="@Url.Content(Model.Avatar)" alt="">
                </div>
            </div>
            <div class="col-md-12 profile-info">
                @*<div class=" profile-info-value">
                    <h3>1020</h3>
                    <p>Followers</p>
                </div>*@
                <div class=" profile-info-value">
                    <h3>@Model.Friends.Friends.Count</h3>
                    <p>Friends</p>
                </div>
                <div class=" profile-info-value">
                    <h3>260</h3>
                    <p>Photos</p>
                </div>
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-4 user-profile">
                <h3 class="text-center">@Model.DisplayName</h3>
                @*<p class="text-center">UI/UX Designer</p>*@
                <hr>
                <ul class="list-unstyled text-center">
                    <li>
                        <p><i class="fa fa-map-marker m-r-xs"></i>@Model.Address</p></li>
                    <li>
                        <p><i class="fa fa-envelope m-r-xs"></i><a href="mailto:@Model.Email">@Model.Email</a>
                    </p></li>
                    <li>
                        <p><i class="fa fa-link m-r-xs"></i><a href="#">www.themeforest.net</a>
                        </p></li>
                </ul>
                <hr>
                <button class="btn btn-facebook btn-block"><i class="fa fa-plus m-r-xs"></i>Add Friend</button>
                <hr/>
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">Friends</div>
                    </div>
                    <div class="panel-body">
                        <div class="team">
                            <div class="team-member">
                                <div class="online on"></div>
                                <img src="~/Content/Images/avatar1.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online off"></div>
                                <img src="~/Content/Images/avatar2.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online on"></div>
                                <img src="~/Content/Images/avatar3.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online on"></div>
                                <img src="~/Content/Images/avatar5.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online on"></div>
                                <img src="~/Content/Images/avatar1.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online off"></div>
                                <img src="~/Content/Images/avatar2.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online on"></div>
                                <img src="~/Content/Images/avatar3.png" alt="">
                            </div>
                            <div class="team-member">
                                <div class="online on"></div>
                                <img src="~/Content/Images/avatar5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">Some Info</div>
                    </div>
                    <div class="panel-body">
                        <p>@Model.About</p>
                    </div>
                </div>
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">Skills</div>
                    </div>
                    <div class="panel-body">
                        <p>HTML5</p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div>
                        <p>PHP</p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            </div>
                        </div>
                        <p>Javascript</p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-t-lg">
                @if (Model.AllowOtherToPost || Model.IsMyTimeline)
                {
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div class="post">
                                <textarea id="status-content" class="form-control" placeholder="What's in your mind?" rows="4=6"></textarea>
                                <div class="post-options">
                                    <a href="#"><i class="icon-camera"></i></a>
                                    <a href="#"><i class="icon-camcorder"></i></a>
                                    <a href="#"><i class="icon-music-tone-alt"></i></a>
                                    <a href="#"><i class="icon-link"></i></a>
                                    <a href="#"><i class="icon-microphone"></i></a>
                                    <button class="btn btn-facebook pull-right" onclick=" PostStatus(); ">Post</button>
                                    @if (Model.IsMyTimeline)
                                    {
                                        Html.RenderPartial("_SelectVisibility", Model.Setting);
                                    }
                                    else
                                    {
                                        var gender = Model.Gender ? "his" : "her";
                                        <button id="current-visible-type" type="button" data-visible-type="@Model.Setting.DefaultOtherPostVisibility" class="btn btn-default pull-right space" data-toggle="tooltip" title="@Model.DisplayName controls who can see posts on @gender timeline">
                                            <span class="fa fa-cog"></span> Custom
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="profile-timeline">
                    <ul class="list-unstyled" id="timeline-posts">
                        @if (Model.Posts.Count > 0)
                        {
                            Html.RenderAction("PostList", "Post", new {Model = Model.Posts as List<Post>});
                        }
                    </ul>
                </div>
                <div id="circularG" class="cssload-loader">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <div id="no-more-post" class="panel panel-white" role="alert" style="display: none">
                    <div class="panel-body text-center">
                        <strong>No more post!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var NoMoreData = false;
    var inProgress = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() === $(document).height() -
            $(window).height() && !NoMoreData && !inProgress) {

            inProgress = true;
            $("#circularG").show();
            var delay = 500; //1 seconds

            setTimeout(function () {
                var currentUser = $("#hidden-user-id").val();
                var postCount = document.querySelectorAll('[id^=post-block]').length;

                $.post("@Url.Action("LoadMorePost","Post")", { "userId": currentUser, "loadedPostCount": postCount },
                    function (data) {
                        NoMoreData = data.NoMore;
                        $("#timeline-posts").append(data.Posts);
                        $("#circularG").hide();
                        inProgress = false;
                    });
            }, delay);
        }
        if (NoMoreData) {
            $("#no-more-post").show();
        }
    });
</script>