@using WC.Data
@using WC.Models
@model ProfileViewModel
@{
    var db = new CyberEntities();
    var litePhoto = (from u in db.Users
                     from a in db.AlbumDetails
                     where u.UserID == Model.Id
                     && u.UserID == a.PostedUserId
                     && !a.Hide && !a.Active
                     select new LiteAlbum()
                     {
                         AlbumId = a.AlbumId,
                         DetailAlbumId = a.Id,
                         Url = a.Url,
                         UserId = u.UserID,
                         DatePost = a.PostedDate
                     }).Where(x => x.UserId == Model.Id).OrderBy(x => x.DatePost).Take(8).ToList();
    ViewBag.Title = Model.DisplayName;
    var user = db.Users.FirstOrDefault(x => x.UserID == Model.Id);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Style/dropzone.css" rel="stylesheet" />
<script src="~/Content/Script/dropzone.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">

    var dropzone = null;
    
    $(function () {
        Dropzone.autoDiscover = false;
        dropzone = new Dropzone("#dropzone", {
            url: '@Url.Action("UploadImage")',
            maxFilesize: 256,
            paramName: "file",
            autoProcessQueue: false,
            addRemoveLinks: true,
            previewsContainer: '#demo-upload',
            clickable: true,

        });
        dropzone.on("removedfile", function (file) {
            if (!this.files.length) {
                $(".dz-message").show();
            }
        });

        dropzone.on("addedfile", function (file) {
            if (this.files.length) {
                $(".dz-message").hide();
            }
        });

        dropzone.on("success", function (file) {
        });
        dropzone.on('dragover', function (e) {
            $("#dropzone").addClass('border-dropzone');
        });
        dropzone.on('dragenter', function () {
            $("#dropzone").addClass('border-dropzone');
        });
        dropzone.on('dragleave', function () {
            $("#dropzone").removeClass('border-dropzone');
        });
        dropzone.on('drop', function () {
            $("#dropzone").removeClass('border-dropzone');
        });
        dropzone.on("queuecomplete", function (file) {

            showMsg('Your status was uploaded !');

        });
        dropzone.on("complete", function (file) {
            dropzone.removeFile(file);
        });

        var html = '';
        $("#btn_upload_post").button().click(function () {
            var text = $("#status-content").val();
            if (text == '') {
                showCloneMsg('Write something !');
                return;
            }


            $.post('@Url.Action("PostStatus", "Post")', { "postedOn": '@Model.Id', "content": text },
                    function (data) {
                        if (data === "Failed") {
                            showCloneMsg("Unable to post your status. Please try again.");
                        } else {
                            html = data;
                            dropzone.processQueue();
                            $("#status-content").val('');
                        }
                    });


        });
    })

</script>

<script type="text/javascript">
    function FriendControl(type) {
        var url = '@Url.Action("FriendControl")';
        var targetId = '@Model.Id';
        $.post(url, { targetUserId: targetId, type: type }, function (result) {
            if (result === 'Remove') {
                showConfirmMsg('Are you sure ?', '@Url.Action("UnFriend")', '@Model.Id');
            }
            else if (result === 'Pending') {
                showMsg('Your friend request has been sent to ' + '@Model.DisplayName');
            }
            else if (result === 'Friend') {
                showMsg('You and ' + '@Model.DisplayName' + ' are now friend');
            } else {
                location.reload();
            }
        });
    }

    function saveUpdateInfo(e) {
        var url = $("#btnUpdateProfileModal").attr("data-item-url");
    }

    $(function () {
        $("#imgprofile").mouseenter(function () {
            $("#btchangeavatar").show();
        });

        $("#imgprofile").mouseleave(function () {
            $("#btchangeavatar").hide();
        });
    });

    var i = 0;
    function OpenUploadPost() {
        i++;
        if (i == 1) {
            $("#dropzone").show();
        }
        else {
            $("#dropzone").hide();
            i = 0;
        }
    }


</script>
<style>
    .btn-available {
        background: #00cf1b;
    }

        .btn-available:hover {
            background: #009b14;
        }

    .btn-wait-accept {
        background: #ff6a00;
    }

        .btn-wait-accept:hover {
            background: #c85300;
        }

    .btn-added {
        background: #0094ff;
    }

        .btn-added:hover {
            background: #0272c3;
        }
</style>
<input type="hidden" id="hidden-user-id" value="@Model.Id" />
<link href="~/Content/Style/loading.css" rel="stylesheet" type="text/css">
<div class="page-inner" style="min-height: 1080px !important">
    <div class="profile-cover" style="position:relative">
        <div class="center-elt" id="cover-change">
        </div>
        <div class="row">
            <div class="col-md-4 profile-image">
                <div id="imgprofile" class="profile-image-container" style="position:relative">
                    <a href="javascript:void(0);">
                        <img src="@Url.Content(Model.Avatar)" alt="" /> 
                    </a> 
                </div>

                <div class="center-elt center-elt-bottom">
                    <a href="javascript:void(0);"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
            <div class="col-md-12 profile-info">
                @*<div class=" profile-info-value">
                        <h3>1020</h3>
                        <p>Followers</p>
                    </div>*@
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-4 user-profile">
                <h3 class="text-center">
                    @Model.DisplayName
                </h3>
                <hr>
                <script type="text/javascript">
                    $(function () {
                        var coverChange = "<a href=\"javascript:void(0);\"  data-toggle=\"modal\" data-target=\"#uploadCoverModal\"><i class=\"fa fa-refresh\"></i></a>";
                        if ('@Model.IsMyTimeline' == 'True') {
                            $("#cover-change").append(coverChange);
                        }

                        var li = '<li><p><i class="#ICON m-r-xs"></i>#STRING</p></li>';
                        if ('@Model.Address' != '') {
                            var address = li.replace('#ICON', 'icon-map');
                            address = address.replace('#STRING', '@Model.Address');
                            $("#box-profile").append(address);
                        }

                        if ('@Model.Email' != '') {
                            var email = li.replace('#ICON', 'icon-envelope-letter');
                            email = email.replace('#STRING', '@Model.Email');
                            $("#box-profile").append(email);
                        }

                        if ('@Model.Work' != '') {
                            var work = li.replace('#ICON', 'icon-briefcase');
                            work = work.replace('#STRING', '@Model.Work');
                            $("#box-profile").append(work);
                        }

                        if ('@Model.ContactNumber' != '') {
                            var number = li.replace('#ICON', 'icon-call-in');
                            number = number.replace('#STRING', '@Model.ContactNumber');
                            $("#box-profile").append(number);
                        }

                        if ('@Model.IsMyTimeline' === "True") {
                            var html = '<li><button onclick="ShowEditProfile()" class="btn btn-facebook"><i class="icon-refresh"></i> Update Profile</button></li>';
                            $("#box-profile").append(html);
                        }


                    });

                    function ShowEditProfile() {
                        $('#updateProfileModal').modal('toggle');
                    }

                </script>
                <ul id="box-profile" class="list-unstyled text-center"></ul>
                <hr>
                @if (!Model.IsMyTimeline && ViewData["FriendStatus"] != null)
            {
                switch (((AddFriendViewModel)ViewData["FriendStatus"]).Type)
                {
                    case FriendType.NoneFriend:
                            <button class="btn btn-block btn-available" onclick="FriendControl(0);">
                                <i class="fa fa-plus m-r-xs"></i>Add Friend
                            </button>
                            break;
                        case FriendType.MyPendingFriend:
                            <button class="btn btn-block btn-wait-accept" onclick="FriendControl(1);">
                                <i class="fa fa-plus m-r-xs"></i>Pending
                            </button>
                            break;
                        case FriendType.HisPendingFriend:
                            <button class="btn btn-block btn-wait-accept" onclick="FriendControl(2);">
                                <i class="fa fa-plus m-r-xs"></i>Accept
                            </button>
                            break;
                        case FriendType.Friend:
                            <button class="btn btn-block btn-added" onclick="FriendControl(3);">
                                <i class="fa fa-plus m-r-xs"></i>Friend
                            </button>
                            break;
                    }
                }
                <hr />
                <div id="box_photo" class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="@Url.Action("Photos", "Album", new { username = user.UserName })">Photo</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        @{
                            if (litePhoto.Any())
                            {
                                Html.RenderPartial("LiteAlbumPartial", litePhoto);
                            }
                        }
                    </div>
                </div>
                <div id="box_friend" class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Friends <small>(@Model.FriendCount)</small>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="team">
                            @foreach (var friend in @Model.Friends)
                            {
                                var photo = db.AlbumDetails.FirstOrDefault(x => x.Active && x.PostedUserId == friend.FriendId && x.AlbumId == "avatar" + friend.FriendId);
                                <div class="team-member">
                                    <a href="@Url.Action(friend.User.UserName, "Profile")">
                                        <img src="@Url.Content(photo.Url)" alt="@friend.User.FirstName @friend.User.LastName" data-toggle="tooltip" title="@friend.User.FirstName @friend.User.LastName" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="box_about" class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">About me</div>
                    </div>
                    <div class="panel-body">
                        <p>@Model.About</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-t-lg">
                @if ((Model.AllowOtherToPost && (ViewData["FriendStatus"] != null)) || Model.IsMyTimeline)
            {
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div class="post">
                                <textarea id="status-content" class="form-control" placeholder="What's in your mind?" rows="4=6"></textarea>
                                <div id="dropzone" style="display:none;">
                                    <form action="@Url.Action("UploadImage")" class="dropzone dz-clickable" id="demo-upload" enctype="multipart/form-data">

                                        <div class="dz-message">
                                            Drop files here or click to upload.<br>
                                        </div>
                                        <div class="fallback">
                                            <input id="file_upload_post" type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                                        </div>
                                    </form>

                                </div>
                                <div class="post-options">
                                    <a href="javascript:void(0);" onclick="OpenUploadPost();"><i class="icon-camera"></i></a>
                                    <a href="#"><i class="icon-camcorder"></i></a>
                                    <a href="#"><i class="icon-music-tone-alt"></i></a>
                                    <a href="#"><i class="icon-link"></i></a>
                                    <a href="#"><i class="icon-microphone"></i></a>
                                    <button id="btn_upload_post" class="btn btn-facebook pull-right" @*onclick=" PostStatus();"*@>Post</button>
                                    @if (Model.IsMyTimeline)
                                    {
                                        Html.RenderPartial("_SelectVisibility", Model.Setting);
                                    }
                                    else
                                    {
                                        var gender = Model.Gender ? "his" : "her";
                                        <button id="current-visible-type" type="button" data-visible-type="@Model.Setting.DefaultOtherPostVisibility" class="btn btn-default pull-right space" data-toggle="tooltip" title="@Model.DisplayName controls who can see posts on @gender timeline">
                                            <span class="fa fa-cog"></span> Custom
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="profile-timeline">
                    <ul class="list-unstyled" id="timeline-posts">
                        @if (Model.Posts.Count > 0)
                        {
                            //Html.RenderAction("PostList", "Post", new {Model = Model.Posts as List<Post>});
                            Html.RenderPartial("PostListPartial", Model.Posts as List<Post>);
                        }
                    </ul>
                </div>
                <div id="circularG" class="cssload-loader" style="display: none">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <div id="no-more-post" class="panel panel-white" role="alert" style="display: none">
                    <div class="panel-body text-center">
                        <strong>No more post!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <p class="no-s">2015 © Cyber</p>
    </div>
</div>
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
    function SuccessMessage() {
        alert("Succcess Post");
    }
    function FailMessage() {
        alert("Fail Post");
    }
</script>
<!-- Modal -->
<div id="updateProfileModal" class="modal fade" role="dialog">
    @using (Html.BeginForm("UpdateInfo", "Home", FormMethod.Post))
    {
        <input type="text" name="iduser" value="@Model.Id" hidden="hidden" />
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Your Info</h4>
                </div>
                <div class="modal-body" id="contentConfirmModal">
                    <div class="first-name" style="float: none;width:98%">
                        <div class="form-group">
                            <input name="fname" type="text" value="@Model.FirstName" placeholder="First Name" class="form-control" required />
                        </div>
                    </div>
                    <div class="first-name" style="float: none; width:98%">
                        <div class="form-group">
                            <input name="lname" type="text" value="@Model.LastName" placeholder="Last Name" class="form-control" required />
                        </div>
                    </div>
                    <div class="first-name" style="float: none;width:98%">
                        <div class="form-group">
                            <input name="address" type="text" value="@Model.Address" placeholder="Address" class="form-control" />
                        </div>
                    </div>
                    <div class="first-name" style="float: none;width:98%">
                        <div class="form-group">
                            <input name="work" type="text" value="@Model.Work" placeholder="Your Work" class="form-control" />
                        </div>
                    </div>
                    <div class="first-name" style="float: none;width:98%">
                        <div class="form-group">
                            <input name="number" onkeypress='validate(event)' value="@Model.ContactNumber" type="text" placeholder="Your Number" class="form-control" />
                        </div>
                    </div>

                    <div class="first-name" style="float: none;width:98%;">
                        <div><span>Something about you:</span></div>
                        <div class="form-group">
                            <input type="text" multiple="multiple" name="aboutme" value="@Model.About" style="max-height:100px;" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-green" value="Save" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    }
</div>
<div id="uploadCoverModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cover Photo Upload</h4>
            </div>
            <div class="modal-body" id="contentUploadCoverModal">
                <div id="coverDropzone">
                    <form action="@Url.Action("UploadCover")" class="dropzone dz-clickable" id="cover-upload-form" enctype="multipart/form-data">
                        <div class="dz-message">
                            Drop files here or click to upload.<br>
                        </div>
                        <div class="fallback">
                            <input id="cover-upload-file" type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </div>
                    </form>

                </div>
            </div> 
            <div class="modal-footer">
                <input type="submit"  id="cover-upload-btn"  class="btn btn-green" value="Submit"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var NoMoreData = false;
    var inProgress = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() === $(document).height() -
            $(window).height() && !NoMoreData && !inProgress) {

            inProgress = true;
            $("#circularG").show();
            var delay = 500; //half seconds

            setTimeout(function () {
                var currentUser = $("#hidden-user-id").val();
                var postCount = document.querySelectorAll('[id^=post-block]').length;

                $.post("@Url.Action("LoadMorePost","Post")", { "userId": currentUser, "loadedPostCount": postCount },
                    function (data) {
                        NoMoreData = data.NoMore;
                        $("#timeline-posts").append(data.Posts);
                        $("#circularG").hide();
                        inProgress = false;
                        if (NoMoreData) {
                            $("#no-more-post").show();
                        }
                    });
            }, delay);
        }
    });

    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>